<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.vjsantojaca.merinosa.com.centinela"
    android:installLocation="internalOnly"
    android:protectionLevel="signatureOrSystem" >

    <!-- For receiving GCM messages -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <!-- For accessing Internet -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- For checking current network state -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- For accessing a location -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- For accessing a wifi state -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- For change a wifi state -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- Allows the app to disable the keylock and any associated password security -->
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <!-- For waking device from sleep for showing notification -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- For vibrating device -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- For get accounts -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!-- For write settings -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- For using PowerManager WakeLocks to keep processor from sleeping or screen from dimming -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- Allows an application to receive the ACTION_BOOT_COMPLETED that is broadcast after the system finishes booting. -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- For modify the phone state -->
    <uses-permission android:name="android.permission.MODIFY_PHONE_STATE"/>
    <!-- Allows an application to update device statistics.-->
    <uses-permission android:name="android.permission.UPDATE_DEVICE_STATS" />
    <!-- For read the phone state -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- For read SMS -->
    <uses-permission android:name="android.permission.READ_SMS"/>
    <!-- For read Calls -->
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <!-- For record audio -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- For write in external storage -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- For lock de device -->
    <uses-permission android:name="android.permission.USES_POLICY_FORCE_LOCK"/>
    <!-- For read google services -->
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <!-- For use Camera -->
    <uses-permission android:name="android.permission.CAMERA"/>

    <!-- For user a camera hardware -->
    <uses-feature android:name="android.hardware.camera" android:required="true" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/icon_merino"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MessageActivity"
            android:label="@string/app_name">
        </activity>

        <!-- [START start receiver] -->
        <receiver
            android:name=".services.system.StartReceiver"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>
        <!-- [END start receiver] -->
        <!-- [START shutdown receiver] -->
        <receiver android:name=".services.system.ShutdownReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.ACTION_SHUTDOWN" />
                <action android:name="android.intent.action.QUICKBOOT_POWEROFF" />
            </intent-filter>
        </receiver>
        <!-- [END shutdown receiver] -->
        <!-- [START device admin receiver] -->
        <receiver
            android:name=".services.DeviceAdmReceiver"
            android:permission="android.permission.BIND_DEVICE_ADMIN" >
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin" />

            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>
        <!-- [END device admin receiver] -->
        <!-- [START gcm_receiver] -->
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="gcm.play.android.samples.com.gcmquickstart" />
            </intent-filter>
        </receiver>
        <!-- [END gcm_receiver] -->
        <!-- [START gcm_listener] -->
        <service
            android:name=".services.gcm.MyGcmListenerService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <!-- [END gcm_listener] -->
        <!-- [START instanceId_listener] -->
        <service
            android:name=".services.gcm.MyInstanceIDListenerService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>
        <!-- [END instanceId_listener] -->
        <service
            android:name=".services.gcm.RegistrationIntentService"
            android:exported="false" >
        </service>

    </application>

</manifest>
